@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Mozilla+Headline:wght@200..700&display=swap');

body {
    background: linear gradient(to right, #000000, #333333);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: rgb(10, 10, 10);
    color: white;
    
}

.h1 {
    font-size: 100px;
    margin-bottom: 20px;
    font-family: 'Mozilla Headline', sans-serif;
}

.p {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Fraunces', serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5a5a5a;
}
.image {
    width: 300px;
    height: auto;
    margin-top: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: 'Mozilla Headline', serif;
}

.button-to-home {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(0, 140, 255);
    
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}